mysql:
  image: mysql:latest
  ports:
   - 3306:3306
  environment:
   - MYSQL_ROOT_PASSWORD=dbpass
   - MYSQL_DATABASE=dev
redis:
  container_name: redis
  hostname: redis
  image: redis:latest
kafka:
  container_name: kafka
  image: spotify/kafka:latest
  ports:
   - 2181:2181
   - 9092:9092
  environment:
   - ADVERTISED_HOST=$DOCKER_IP
   - ADVERTISED_PORT=9092
account-web:
  image: account-web
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  links:
   - mysql
   - kafka
   - discovery
account-worker:
  image: account-worker
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  links:
   - kafka
   - discovery
order-web:
  image: order-web
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  links:
   - mysql
   - kafka
   - discovery
order-worker:
  image: order-worker
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  links:
   - kafka
   - discovery
payment-web:
  image: payment-web
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  links:
   - mysql
   - kafka
   - discovery
payment-worker:
  image: payment-worker
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  links:
   - kafka
   - discovery
warehouse-web:
  image: warehouse-web
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  links:
   - redis
   - mysql
   - kafka
   - discovery
warehouse-worker:
  image: warehouse-worker
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  links:
   - kafka
   - discovery
discovery:
  image: discovery
  ports:
   - 8761:8761
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
dashboard:
  image: dashboard
  environment:
   - SPRING_PROFILES_ACTIVE=docker
   - DOCKER_IP=$DOCKER_IP
  ports:
   - 3333:3333
  links:
   - discovery